*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
#nav-links{
    display: flex;
    gap: 24px;
}
#nav-links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav-links a:hover{
    opacity: .5;
}
img{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 7%;
}
img:hover{
 opacity: .7;
 cursor: pointer;
}
#nav-btn{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
#nav-btn button{
    padding: 14px 20px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5;
}
#nav-btn button:hover{
    opacity: .6;
}
#nav-btn #btn{
    margin-left: 22px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: black;
}
#nav-btn h1{
    cursor: pointer;
}
.center{
    width: 100%;
    height: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.text{
    width: 420px;
}
.text h5{
    border-radius: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 15px;
    padding: 10px 11px;
    font-weight: 600;
    animation-name: color;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.center h1{
    margin-top: 45px;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
}
.center h4{
    margin-top: 40px;
    font-size: 19px;
    font-weight: 600;
}
.click{
    margin-top: 40px;
    padding: 17px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5;
}
.click:hover{
    opacity: .6;
}
#img-scrollar{
    width: 100%;
    height: 40%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* background-color: #b9f0cc; */
    animation-name: hori-scroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#img-scrollar>.inner-img-box{
    width: 100%;
    height: 100%;
    display: inline-block;
    /* background-color: #E0B7EF; */
}
.elam{
    border-radius: 35px;
    margin-left: 38px;
    width: 17%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}
.elam img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elam video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 80px;
    margin-top: 30px;
}
#brands h2{
    font-size: 18px;
}
.logos{
    width: 120px;
    height: 70px;
}
.adobe{
    background-image: url(image/adobe-black8153-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.micro{
    background-image: url(image/microsoft-black5661-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.face{
    background-image: url(image/facebook-black-text-logo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.sopi{
    background-image: url(image/1655873659shopify-black-logo-removebg-preview.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.disney{
    background-image: url(image/disney-logo-png-transparent-removebg-preview.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.amazon{
    background-image: url(image/amazon-logo-black-transparent.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.lyft{
    background-image: url(image/629759c87ec76b82fb21fcd2.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}
#started-line{
    width: 100%;
    height: 70%;
    margin-top: 40px;
    padding: 100px;
}
#started-line hr{
    margin-top: 240px;
    color: rgb(214, 204, 204);
}
#parent-line{
    width: 100%;
    height: 70%;
    display: flex;
}
#left-line{
    width: 50%;
    height: 100%;
    padding: 20px;
}
#left-line h1{
    font-family: gilory;
    font-weight: 200;
    font-size: 100px;
    line-height: 100px;
}
#right-line{
    width: 50%;
    height: 100%;
    padding: 50px;
}
#right-line p{
    font-weight: 500;
    font-family: gilroy;
    font-size: 18px;
    line-height: 30px;
}
#right-line button{
    margin-top: 30px;
    padding: 18px 25px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
}
.top-line{
    margin-top: 40px;
    padding: 100px;
    margin-bottom: 50px;
}
.top-line .text h5{
    background-color: #FFDA79;
    padding: 10px 20px;
    width: fit-content;
}
.top-text h4{
    font-weight: 100px;
}
#girl{
    width: 100%;
    height: 110%;
    display: flex;
}
#girl-left{
    width: 50%;
    height: 100%;
    padding: 0 100px;
}
#girl-left h1{
    margin-top: 230px;
    font-weight: 500;
    font-size: 45px;
    font-family: gilroy;
}
#girl-left p{
    margin: 30px 0;
}
#girl .girl-click{
    margin-left: 30px;
    padding: 14px 20px;
    border: 1px solid rgb(147, 146, 146);
    background-color: transparent;
    border-radius: 50px;
    font-weight: 700;
}
#girl-right{
    width: 50%;
    height: 100%;
    position: relative;
}
.girl-im img{
    width: 80%;
    height: 80%;
}
.girl-card{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgb(199, 199, 199);
}
#card-top{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
#card-top img{
    margin-left: 25px;
    width: 50px;
}
#card-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#card-name h3{
    font-weight: 500;
    margin-bottom: 3px;
}
#card-name h4{
    background-color: #b9f0cc;
    padding: 2px;
    font-size: 13px;
}
#card-skills{
    padding: 0 20px;
}
#card-skills h4{
    margin-top: 20px;
    margin-left: 10px;
}
#card-skills h5{
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
    padding: 4px;
}
#card-price{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#hire{
    width: 100%;
    padding: 0 80px;
}
#hire h1{
    font-size: 50px;
    font-weight: 400;
}
#parent-text-box{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.text-hire p{
    padding-top: 25px;
    font-size: 17px;
    font-weight: 400;
}
#one-single{
    margin-top: 200px;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
#one-text{
    border: 1px solid gray;
    padding: 40px;
    border-radius: 20px;
}
#one-text p{
    font-size: 30px;
}
#customer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#customer span{
    opacity: .5;
    font-weight: 500;
}
#one-logo{
    width: 260px;
    height: 260px;
    border-radius: 20px;
    background: linear-gradient(to top right,#f97e94,#FCD0BA);
}
#global{
    margin-top: 150px;
    width: 100%;
    padding: 0 80px;
}
#global h1{
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 150px;
}
#goble-big{
    display: flex;
}
#globle-left{
    font-size: 20px;
    width: 50%;
}
#globle-left h4{
    margin: 20px 0;
}
#globle-left p{
    margin-bottom: 40px;
}
.globle-left-child:nth-child(1) h4{
    background-color: lightblue;
    width: fit-content;
}
.globle-left-child:nth-child(2) h4{
    background-color: rgb(212, 235, 229);
    width: fit-content;
}
.globle-left-child:nth-child(3) h4{
    background-color: rgb(233, 223, 239);
    width: fit-content;
}
#globle-right{
    width: 50%;
}
#cont-img{
    border-radius: 50px;
    width: 650px;
    height: 500px;
    background-image: url(https://cdn.dribbble.com/uploads/47302/original/11a557ca1a5c49c9bcd89a22f781d953.jpg?1686080350&resize=1254x1002&vertical=center);
    background-position: center;
    background-size: cover;
}
#work{
    margin-top: 150px;
}
#work h1{
    padding: 0 80px;
    font-size: 50px;
    font-weight: 500;
}
.top-work{
    display: flex;
    gap: 30px;
}
.top-box{
    width: 500px;
    height: 300px;
    background-color: #f97e94;
    margin-left: -50px;
    border-radius: 10px;
}
#profile{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.left-profile{
    padding: 70px;
    background-color: #F8F7F4;
    width: 40%;
    height: 60%;
    border-radius: 50px;
}
.pro-hed:nth-child(1){
    background-color: #b9f0cc;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.sub-profile .pro-hed{
    background-color: #f6c9d1;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.left-profile h1{
    margin: 40px 0px;
}
.left-profile p{
    font-size: 20px;
    font-weight: 400;
}
.left-profile button{
    padding: 14px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-right: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5;
}
.left-profile .pro-btn{
    color: black;
    background-color: white;
}
#today{
    width: 100%;
    height: 70%;
    background-color: #FFDA79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#today h1{
    font-size: 70px;
    font-weight: 500;
}
#today p{
    font-size: 21px;
    margin: 20px 0;
}
.today-btn button{
    padding: 18px 25px;
    border-radius: 50px;
    border: none;
    margin-left: 30px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-bottom: 40px;
}
.today-btn button:nth-child(2){
    background-color: white;
    color: black;
}
.today-link{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.today-link h3{
    font-weight: 500;
}
.today-link a{
    color: black;
    font-weight: 600;
}
#flot{
    width: 100%;
    height: 140px;
    margin-bottom: 100px;
}
footer{
    padding: 0 80px;
}
#fo-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
#fo-top-logo img{
    width: 100px;
}
#fo-top-link{
    display: flex;
    gap: 70px;
}
#fo-top-link a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 15px;
}
#fo-top-icon i{
    font-size: 22px;
    margin-left: 10px;
}
#fo-btm{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#fo-btm-right{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
#fo-btm-right h3{
    font-weight: 500;
    font-size: 15px;
    color: gray;
}
#fo-btm-right a{
    font-size: 15px;
    color: gray;
    text-decoration: none;
}
#fo-btm-left{
    display: flex;
    gap: 20px;
}
#fo-btm-left a{
    font-size: 15px;
    color: gray;
    text-decoration: none;
}




@keyframes color {
    0%{
        background-color: #f1ec6e;
    }
    20%{
        background-color: #E0B7EF;
    }
    40%{
        background-color: rgb(226, 174, 226);
    }
    60%{
        background-color: #F8F7F4;
    }
    80%{
        background-color: #F9E298;
    }
    100%{
        background-color: #cbfa7f;
    }
}

@keyframes hori-scroll {
    form{
        transform: translateX(0px);
    }
    to{
        transform: translate(calc(-100px - 42px));
    }
}